nav {
    height: 50px;
}

nav button {
    text-align: center;
    transform: scale(0.80);
    width: 17%;
}

.container {
    margin-left: 200px !important;
}

h4 {
    align-self: center;
    border-radius: 50px;
    padding: 3px;
}