nav {
    height: 50px;
}

nav button {
    text-align: center;
    transform: scale(0.80);
    width: 17%;
}

.container {
    margin-left: 200px !important;
}

.my-figure {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    height: 250px !important;
    object-fit: fill;
    object-position: center center;
}

.container {
    margin-left: 350px !important
}


.my-figure {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


h4 {
    align-self: center;
    border-radius: 50px;
    padding: 3px;
}